Source: esrom
Section: python
Priority: optional
Maintainer: Fatih ÖNDER <fatih@algyazilim.com>
Build-Depends: debhelper (>= 13), python3-all, python3-pyqt5, python3-pygame, python3-numpy
Standards-Version: 4.5.0
Homepage: https://algyazilim.com

Package: esrom
Architecture: all
Depends: ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Bu uygulama, metin ve Mors kodu arasında dönüşüm yapmanızı sağlar.Ayrıca Mors kodunu sesli olarak dinlemenize olanak tanır.

